{% extends "base.html" %}
{% block content %}
  <h1>Todas as Emendas:</h1>
  {% if "Gestão" in grupos_do_user or request.user.is_superuser %}
    <div>
      <h2>Gestão</h2>
      {% comment %} TODO: Adicionar links para as páginas de gestão quando existirem {% endcomment %}
      <div>
        <i class="fa-solid fa-square-plus"></i>Nova Proposta de Emenda
      </div>
      <a class="hover:underline" href="{% url 'emendas_adicionar_em_massa' %}"><i class="fa-solid fa-square-plus"></i>Adicionar Proposta de Emenda em Massa</a>
    </div>
  {% endif %}
  {% if "Gestão" in grupos_do_user or request.user.is_superuser %}
    <form>
      {% csrf_token %}
    {% endif %}
    <table>
      <thead>
        <tr>
          {% if "Gestão" in grupos_do_user or request.user.is_superuser %}
            <th>
              <span class="sr-only">Select</span>
            </th>
          {% endif %}
          <th>Nome</th>
          <th>Descrição</th>
          <th>Tags</th>
          <th>Ciclos</th>
          {% if "Gestão" in grupos_do_user or request.user.is_superuser %}
            <th>
              <span class="sr-only">Ações</span>
            </th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for item in emendas %}
          {% comment %} TODO: adicionar links para editar e visualizar as emendas {% endcomment %}
          <tr>
            {% with emenda=item.emenda %}
              {% if "Gestão" in grupos_do_user or request.user.is_superuser %}
                <td>
                  <input type="checkbox" name="selected:{{ emenda.sqid }}">
                </td>
              {% endif %}
              <td>{{ emenda.titulo }}</td>
              <td>{{ emenda.descricao }}</td>
            {% endwith %}
            <td>{{ item.tags|join:", " }}</td>
            <td>{{ item.ciclos|join:", " }}</td>
            {% if "Gestão" in grupos_do_user or request.user.is_superuser %}
              {% comment %} TODO: Fazer esses botões funcionarem {% endcomment %}
              <td>
                <button>Deletar</button>
                <button>Editar</button>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if "Gestão" in grupos_do_user or request.user.is_superuser %}</form>{% endif %}
{% endblock content %}
